<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpri.aio.app.act.mapper.AppActContentMapper">

	<!-- 基础返回值定义 -->
	<resultMap id="BaseResultMap" type="com.mpri.aio.act.model.ActContent">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="val" jdbcType="VARCHAR" property="val" />
		<result column="act_id" jdbcType="VARCHAR" property="actId" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="sort" jdbcType="INTEGER" property="sort" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="flag" jdbcType="VARCHAR" property="flag" />
	</resultMap>

	<!-- 基础字段定义 -->
	<sql id="Base_Column_List">
    	id, remark, user_id, val, act_id, code, sort,create_date, flag,name
	</sql>

	<!-- 查询条件定义 -->
	<sql id="query_where">
		<if test="entity!=null">
			<if test="entity.id != null and entity.id!='' ">
				and id=#{entity.id}
			</if>
			<if test="entity.remark != null and entity.remark!='' ">
				and remark=#{entity.remark}
			</if>
			<if test="entity.userId != null and entity.userId!='' ">
				and user_id=#{entity.userId}
			</if>
			<if test="entity.val != null and entity.val!='' ">
				and val=#{entity.val}
			</if>
			<if test="entity.actId != null and entity.actId!='' ">
				and act_id=#{entity.actId}
			</if>
			<if test="entity.code != null and entity.code!='' ">
				and code=#{entity.code}
			</if>
			<if test="entity.sort != null and entity.sort!='' ">
				and sort=#{entity.sort}
			</if>
			<if test="entity.createDate != null and entity.createDate!='' ">
				and create_date=#{entity.createDate}
			</if>
			<if test="entity.flag != null and entity.flag!='' ">
				and flag= #{entity.FLAG_NORMAL}
			</if>
		</if>
	</sql>

	<!--判断是否已经报名-->
	<select id="getNumByUserId"  parameterType="com.mpri.aio.act.model.ActContent" resultType="java.lang.Integer" >
		select
		count(0)
		from act_content
		<where>
			<include refid="query_where"></include>
		</where>
	</select>



	<!-- 根据id查询 -->
	<select id="get" parameterType="com.mpri.aio.act.model.ActContent" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from act_content
		where id = #{id,jdbcType=VARCHAR} and flag = #{FLAG_NORMAL}
	</select>

	<!-- 分页查询 -->
	<select id="loadByPage" parameterType="com.mpri.aio.act.model.ActContent" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from act_content
		<where>
			<include refid="query_where"></include>
		</where>
		order by create_date desc
	</select>

	<!-- 依照条件查询所有对象 -->
	<select id="loadAllListBy"  parameterType="com.mpri.aio.act.model.ActContent" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from act_content
		<where>
			<include refid="query_where"></include>
		</where>
	</select>
	<!-- 判断是否报名-->
	<select id="getNumBy"  parameterType="com.mpri.aio.act.model.ActContent" resultType="java.lang.Integer" >
		select
		count(0)
		from act_content
		<where>
			<include refid="query_where"></include>
		</where>
	</select>



	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.mpri.aio.act.model.ActContent">
		insert into act_content
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="val != null">
				val,
			</if>
			<if test="actId != null">
				act_id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="flag != null">
				flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="val != null">
				#{val,jdbcType=VARCHAR},
			</if>
			<if test="actId != null">
				#{actId,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="flag != null">
				#{flag,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<insert id="saveActContent" parameterType="java.util.List">
		insert into act_content
		(
		id,
		remark,
		user_id,
		val,
		act_id,
		code,
		create_date,
		sort,
		flag
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			<trim prefix=" (" suffix=")" >
				<if test="item.id != null">
					#{item.id,jdbcType=VARCHAR},
				</if>
				<if test="item.remark != null">
					#{item.remark,jdbcType=VARCHAR},
				</if>
				<if test="item.userId != null">
					#{item.userId,jdbcType=VARCHAR},
				</if>
				<if test="item.val != null">
					#{item.val,jdbcType=VARCHAR},
				</if>
				<if test="item.actId != null">
					#{item.actId,jdbcType=VARCHAR},
				</if>
				<if test="item.code != null">
					#{item.code,jdbcType=VARCHAR},
				</if>
				<if test="item.createDate != null">
					#{item.createDate,jdbcType=TIMESTAMP},
				</if>
				<if test="item.sort != null">
					#{item.sort,jdbcType=INTEGER},
				</if>

				<if test="item.flag != null">
					#{item.flag,jdbcType=VARCHAR}
				</if>
			</trim>
		</foreach>
	</insert>
	<!-- 更新数据 -->
	<update id="update" parameterType="com.mpri.aio.act.model.ActContent">
		update act_content
		<set>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="val != null">
				val = #{val,jdbcType=VARCHAR},
			</if>
			<if test="actId != null">
				act_id = #{actId,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="flag != null">
				flag = #{flag,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

</mapper>