<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpri.aio.settings.mapper.PointLevelMapper">

  	<!-- 基础返回值定义 -->
	<resultMap id="BaseResultMap" type="com.mpri.aio.settings.model.PointLevel">
			<id column="id" jdbcType="VARCHAR" property="id" />
			<result column="level_icon" jdbcType="VARCHAR" property="levelIcon" />
			<result column="name" jdbcType="VARCHAR" property="name" />
			<result column="remark" jdbcType="VARCHAR" property="remark" />
			<result column="code" jdbcType="VARCHAR" property="code" />
			<result column="start_point" jdbcType="INTEGER" property="startPoint" />
			<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
			<result column="value" jdbcType="INTEGER" property="value" />
			<result column="end_point" jdbcType="INTEGER" property="endPoint" />
			<result column="flag" jdbcType="VARCHAR" property="flag" />
	</resultMap>
	
    <!-- 基础字段定义 -->
	<sql id="Base_Column_List">
    	id, level_icon, name, remark, code, start_point, create_date, value, end_point, flag
	</sql>

	<!-- 查询条件定义 -->
	<sql id="query_where">
		<if test="entity!=null">
			<if test="entity.id != null and entity.id!='' ">
        		and id=#{entity.id}
      		</if>	      	
			<if test="entity.levelIcon != null and entity.levelIcon!='' ">
        		and level_icon=#{entity.levelIcon}
      		</if>
			<if test="entity.flag != null and entity.flag!='' ">
				and flag= #{entity.FLAG_NORMAL}
			</if>
	       	<if test="entity.name!=null and entity.name!='' ">
	            and ( name like   replace (#{entity.name},'*','%%')
				or name like concat('%', #{entity.name},'%'))

	       	</if>		
			<if test="entity.remark != null and entity.remark!='' ">
        		and remark=#{entity.remark}
      		</if>	      	
			<if test="entity.code != null and entity.code!='' ">
        		and code=#{entity.code}
      		</if>	      	
			<if test="entity.startPoint != null and entity.startPoint!='' ">
        		and start_point=#{entity.startPoint}
      		</if>	      	
			<if test="entity.createDate != null and entity.createDate!='' ">
        		and create_date=#{entity.createDate}
      		</if>	      	
			<if test="entity.value != null and entity.value!='' ">
        		and value=#{entity.value}
      		</if>	      	
			<if test="entity.endPoint != null and entity.endPoint!='' ">
        		and end_point=#{entity.endPoint}
      		</if>	      	

		</if>
	</sql>
	
  	<!-- 根据id查询 -->
  	<select id="get" parameterType="com.mpri.aio.settings.model.PointLevel" resultMap="BaseResultMap">
   	    select 
    		<include refid="Base_Column_List" />
    	from point_level
    	where id = #{id,jdbcType=VARCHAR} and flag = #{FLAG_NORMAL}
  	</select>
 
 	<!-- 分页查询 -->
    <select id="loadByPage" parameterType="com.mpri.aio.settings.model.PointLevel" resultMap="BaseResultMap" >
    	select
    		<include refid="Base_Column_List" />
    	from point_level 
    	<where>
	  		<include refid="query_where"></include>
    	</where>
    	order by create_date DESC
  	</select>

  	<!-- 依照条件查询所有对象 -->
  	<select id="loadAllListBy"  parameterType="com.mpri.aio.settings.model.PointLevel" resultMap="BaseResultMap" >
    	select
    		<include refid="Base_Column_List" />
    	from point_level 
		<where>
	  		<include refid="query_where"></include>
    	</where>
  	</select>

	<!-- 删除对象 -->
  	<update id="delete" parameterType="com.mpri.aio.settings.model.PointLevel">
    	update point_level set flag = #{FLAG_HOLD} where id = #{id,jdbcType=VARCHAR}
  	</update>
  	
  	<!-- 插入数据 -->
  	<insert id="insert" parameterType="com.mpri.aio.settings.model.PointLevel">
		insert into point_level
		<trim prefix="(" suffix=")" suffixOverrides=",">
	   		<if test="id != null">
	    		id,
	  		</if>   			
	   		<if test="levelIcon != null">
	    		level_icon,
	  		</if>   			
	   		<if test="name != null">
	    		name,
	  		</if>   			
	   		<if test="remark != null">
	    		remark,
	  		</if>   			
	   		<if test="code != null">
	    		code,
	  		</if>   			
	   		<if test="startPoint != null">
	    		start_point,
	  		</if>   			
	   		<if test="createDate != null">
	    		create_date,
	  		</if>   			
	   		<if test="value != null">
	    		value,
	  		</if>   			
	   		<if test="endPoint != null">
	    		end_point,
	  		</if>   			
	   		<if test="flag != null">
	    		flag,
	  		</if>   			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
	   		<if test="id != null">
	   			#{id,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="levelIcon != null">
	   			#{levelIcon,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="name != null">
	   			#{name,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="remark != null">
	   			#{remark,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="code != null">
	   			#{code,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="startPoint != null">
	   			#{startPoint,jdbcType=INTEGER},
	  		</if>   			
	   		<if test="createDate != null">
	   			#{createDate,jdbcType=TIMESTAMP},
	  		</if>   			
	   		<if test="value != null">
	   			#{value,jdbcType=INTEGER},
	  		</if>   			
	   		<if test="endPoint != null">
	   			#{endPoint,jdbcType=INTEGER},
	  		</if>   			
	   		<if test="flag != null">
	   			#{flag,jdbcType=VARCHAR},
	  		</if>   			
		</trim>
  	</insert>

  	<!-- 更新数据 -->
  	<update id="update" parameterType="com.mpri.aio.settings.model.PointLevel">
    	update point_level
    	<set>
			<if test="levelIcon != null">
	   			level_icon = #{levelIcon,jdbcType=VARCHAR},
	  		</if>  
			<if test="name != null">
	   			name = #{name,jdbcType=VARCHAR},
	  		</if>  
			<if test="remark != null">
	   			remark = #{remark,jdbcType=VARCHAR},
	  		</if>  
			<if test="code != null">
	   			code = #{code,jdbcType=VARCHAR},
	  		</if>  
			<if test="startPoint != null">
	   			start_point = #{startPoint,jdbcType=INTEGER},
	  		</if>  
			<if test="createDate != null">
	   			create_date = #{createDate,jdbcType=TIMESTAMP},
	  		</if>  
			<if test="value != null">
	   			value = #{value,jdbcType=INTEGER},
	  		</if>  
			<if test="endPoint != null">
	   			end_point = #{endPoint,jdbcType=INTEGER},
	  		</if>  
			<if test="flag != null">
	   			flag = #{flag,jdbcType=VARCHAR},
	  		</if>  
    	</set>
    	where id = #{id,jdbcType=VARCHAR}
	</update>

</mapper>