<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpri.aio.act.mapper.ActSelforgMapper">

  	<!-- 基础返回值定义 -->
	<resultMap id="BaseResultMap" type="com.mpri.aio.act.model.ActSelforg">
			<id column="id" jdbcType="VARCHAR" property="id" />
			<result column="con_phone" jdbcType="VARCHAR" property="conPhone" />
			<result column="status" jdbcType="VARCHAR" property="status" />
			<result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
			<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
			<result column="act_date" jdbcType="TIMESTAMP" property="actDate" />
			<result column="remark" jdbcType="VARCHAR" property="remark" />
			<result column="limit_no" jdbcType="INTEGER" property="limitNo" />
			<result column="flag" jdbcType="VARCHAR" property="flag" />
			<result column="name" jdbcType="VARCHAR" property="name" />
			<result column="ready_no" jdbcType="INTEGER" property="readyNo" />
			<result column="content" jdbcType="VARCHAR" property="content" />	
			<result column="is_reception" jdbcType="VARCHAR" property="isReception" />
			<result column="user_id" jdbcType="VARCHAR" property="userId" />
			<result column="reception_service" jdbcType="VARCHAR" property="receptionService" />
			<result column="con_name" jdbcType="VARCHAR" property="conName" />
			<result column="other_reception" jdbcType="VARCHAR" property="otherReception" />
	</resultMap>
	
    <!-- 基础字段定义 -->
	<sql id="Base_Column_List">
    	id, con_phone, status, end_date, create_date, act_date, remark, limit_no, flag, name, ready_no, content, is_reception, user_id, reception_service, con_name, other_reception
	</sql>

	<!-- 查询条件定义 -->
	<sql id="query_where">
		<if test="entity!=null">
			<if test="entity.id != null and entity.id!='' ">
        		and id=#{entity.id}
      		</if>	      	
			<if test="entity.conPhone != null and entity.conPhone!='' ">
        		and con_phone=#{entity.conPhone}
      		</if>	      	
			<if test="entity.status != null and entity.status!='' ">
        		and status=#{entity.status}
      		</if>	      	
			<if test="entity.endDate != null and entity.endDate!='' ">
        		and end_date=#{entity.endDate}
      		</if>	      	
			<if test="entity.createDate != null and entity.createDate!='' ">
        		and create_date=#{entity.createDate}
      		</if>	      	
			<if test="entity.actDate != null and entity.actDate!='' ">
        		and act_date=#{entity.actDate}
      		</if>	      	
			<if test="entity.remark != null and entity.remark!='' ">
        		and remark=#{entity.remark}
      		</if>	      	
			<if test="entity.limitNo != null and entity.limitNo!='' ">
        		and limit_no=#{entity.limitNo}
      		</if>	      	
			<if test="entity.flag != null and entity.flag!='' ">
        		and flag= #{entity.FLAG_NORMAL}
      		</if>
	       	<if test="entity.name!=null and entity.name!='' ">
	           	and name = #{entity.name} 
	       	</if>		
			<if test="entity.readyNo != null and entity.readyNo!='' ">
        		and ready_no=#{entity.readyNo}
      		</if>	      	
			<if test="entity.content != null and entity.content!='' ">
        		and content=#{entity.content}
      		</if>	      	
			<if test="entity.isReception != null and entity.isReception!='' ">
        		and is_reception=#{entity.isReception}
      		</if>	      	
			<if test="entity.userId != null and entity.userId!='' ">
        		and user_id=#{entity.userId}
      		</if>	      	
			<if test="entity.receptionService != null and entity.receptionService!='' ">
        		and reception_service=#{entity.receptionService}
      		</if>	      	
			<if test="entity.conName != null and entity.conName!='' ">
        		and con_name=#{entity.conName}
      		</if>	      	
			<if test="entity.otherReception != null and entity.otherReception!='' ">
        		and other_reception=#{entity.otherReception}
      		</if>	      	
		</if>
	</sql>
	
  	<!-- 根据id查询 -->
  	<select id="get" parameterType="com.mpri.aio.act.model.ActSelforg" resultMap="BaseResultMap">
   	    select 
    		<include refid="Base_Column_List" />
    	from act_selforg
    	where id = #{id,jdbcType=VARCHAR} and flag = #{FLAG_NORMAL}
  	</select>
 
 	<!-- 分页查询 -->
    <select id="loadByPage" parameterType="com.mpri.aio.act.model.ActSelforg" resultMap="BaseResultMap" >
    	select
    		<include refid="Base_Column_List" />
    	from act_selforg 
    	<where>
	  		<include refid="query_where"></include>
    	</where>
    	order by create_date desc
  	</select>

  	<!-- 依照条件查询所有对象 -->
  	<select id="loadAllListBy"  parameterType="com.mpri.aio.act.model.ActSelforg" resultMap="BaseResultMap" >
    	select
    		<include refid="Base_Column_List" />
    	from act_selforg 
		<where>
	  		<include refid="query_where"></include>
    	</where>
  	</select>

	<!-- 删除对象 -->
  	<update id="delete" parameterType="com.mpri.aio.act.model.ActSelforg">
    	update act_selforg set flag = #{FLAG_HOLD} where id = #{id,jdbcType=VARCHAR}
  	</update>
  	
  	<!-- 插入数据 -->
  	<insert id="insert" parameterType="com.mpri.aio.act.model.ActSelforg">
		insert into act_selforg
		<trim prefix="(" suffix=")" suffixOverrides=",">
	   		<if test="id != null">
	    		id,
	  		</if>   			
	   		<if test="conPhone != null">
	    		con_phone,
	  		</if>   			
	   		<if test="status != null">
	    		status,
	  		</if>   			
	   		<if test="endDate != null">
	    		end_date,
	  		</if>   			
	   		<if test="createDate != null">
	    		create_date,
	  		</if>   			
	   		<if test="actDate != null">
	    		act_date,
	  		</if>   			
	   		<if test="remark != null">
	    		remark,
	  		</if>   			
	   		<if test="limitNo != null">
	    		limit_no,
	  		</if>   			
	   		<if test="flag != null">
	    		flag,
	  		</if>   			
	   		<if test="name != null">
	    		name,
	  		</if>   			
	   		<if test="readyNo != null">
	    		ready_no,
	  		</if>   			
	   		<if test="content != null">
	    		content,
	  		</if>   			
	   		<if test="isReception != null">
	    		is_reception,
	  		</if>   			
	   		<if test="userId != null">
	    		user_id,
	  		</if>   			
	   		<if test="receptionService != null">
	    		reception_service,
	  		</if>   			
	   		<if test="conName != null">
	    		con_name,
	  		</if>   			
	   		<if test="otherReception != null">
	    		other_reception,
	  		</if>   			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
	   		<if test="id != null">
	   			#{id,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="conPhone != null">
	   			#{conPhone,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="status != null">
	   			#{status,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="endDate != null">
	   			#{endDate,jdbcType=TIMESTAMP},
	  		</if>   			
	   		<if test="createDate != null">
	   			#{createDate,jdbcType=TIMESTAMP},
	  		</if>   			
	   		<if test="actDate != null">
	   			#{actDate,jdbcType=TIMESTAMP},
	  		</if>   			
	   		<if test="remark != null">
	   			#{remark,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="limitNo != null">
	   			#{limitNo,jdbcType=INTEGER},
	  		</if>   			
	   		<if test="flag != null">
	   			#{flag,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="name != null">
	   			#{name,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="readyNo != null">
	   			#{readyNo,jdbcType=INTEGER},
	  		</if>   			
	   		<if test="content != null">
	   			#{content,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="isReception != null">
	   			#{isReception,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="userId != null">
	   			#{userId,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="receptionService != null">
	   			#{receptionService,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="conName != null">
	   			#{conName,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="otherReception != null">
	   			#{otherReception,jdbcType=VARCHAR},
	  		</if>   			
		</trim>
  	</insert>

  	<!-- 更新数据 -->
  	<update id="update" parameterType="com.mpri.aio.act.model.ActSelforg">
    	update act_selforg
    	<set>
			<if test="conPhone != null">
	   			con_phone = #{conPhone,jdbcType=VARCHAR},
	  		</if>  
			<if test="status != null">
	   			status = #{status,jdbcType=VARCHAR},
	  		</if>  
			<if test="endDate != null">
	   			end_date = #{endDate,jdbcType=TIMESTAMP},
	  		</if>  
			<if test="createDate != null">
	   			create_date = #{createDate,jdbcType=TIMESTAMP},
	  		</if>  
			<if test="actDate != null">
	   			act_date = #{actDate,jdbcType=TIMESTAMP},
	  		</if>  
			<if test="remark != null">
	   			remark = #{remark,jdbcType=VARCHAR},
	  		</if>  
			<if test="limitNo != null">
	   			limit_no = #{limitNo,jdbcType=INTEGER},
	  		</if>  
			<if test="flag != null">
	   			flag = #{flag,jdbcType=VARCHAR},
	  		</if>  
			<if test="name != null">
	   			name = #{name,jdbcType=VARCHAR},
	  		</if>  
			<if test="readyNo != null">
	   			ready_no = #{readyNo,jdbcType=INTEGER},
	  		</if>  
			<if test="content != null">
	   			content = #{content,jdbcType=VARCHAR},
	  		</if>  
			<if test="isReception != null">
	   			is_reception = #{isReception,jdbcType=VARCHAR},
	  		</if>  
			<if test="userId != null">
	   			user_id = #{userId,jdbcType=VARCHAR},
	  		</if>  
			<if test="receptionService != null">
	   			reception_service = #{receptionService,jdbcType=VARCHAR},
	  		</if>  
			<if test="conName != null">
	   			con_name = #{conName,jdbcType=VARCHAR},
	  		</if>  
			<if test="otherReception != null">
	   			other_reception = #{otherReception,jdbcType=VARCHAR},
	  		</if>  
    	</set>
    	where id = #{id,jdbcType=VARCHAR}
	</update>

</mapper>