<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpri.aio.act.mapper.ActSettingMapper">

  	<!-- 基础返回值定义 -->
	<resultMap id="BaseResultMap" type="com.mpri.aio.act.model.ActSetting">
			<id column="id" jdbcType="VARCHAR" property="id" />
			<result column="form_type" jdbcType="VARCHAR" property="formType" />
			<result column="name" jdbcType="VARCHAR" property="name" />
			<result column="activity_id" jdbcType="VARCHAR" property="activityId" />
			<result column="remark" jdbcType="VARCHAR" property="remark" />
			<result column="code" jdbcType="VARCHAR" property="code" />
			<result column="sort" jdbcType="INTEGER" property="sort" />
			<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
			<result column="default_val" jdbcType="VARCHAR" property="defaultVal" />
			<result column="flag" jdbcType="VARCHAR" property="flag" />
	</resultMap>
	
    <!-- 基础字段定义 -->
	<sql id="Base_Column_List">
    	id, form_type, name, activity_id, remark, code, sort, create_date, default_val, flag
	</sql>

	<!-- 查询条件定义 -->
	<sql id="query_where">
		<if test="entity!=null">
			<if test="entity.id != null and entity.id!='' ">
        		and id=#{entity.id}
      		</if>	      	
			<if test="entity.formType != null and entity.formType!='' ">
        		and form_type=#{entity.formType}
      		</if>	      	
	       	<if test="entity.name!=null and entity.name!='' ">
	           	and name = #{entity.name} 
	       	</if>		
			<if test="entity.activityId != null and entity.activityId!='' ">
        		and activity_id=#{entity.activityId}
      		</if>	      	
			<if test="entity.remark != null and entity.remark!='' ">
        		and remark=#{entity.remark}
      		</if>	      	
			<if test="entity.code != null and entity.code!='' ">
        		and code=#{entity.code}
      		</if>	      	
			<if test="entity.sort != null and entity.sort!='' ">
        		and sort=#{entity.sort}
      		</if>	      	
			<if test="entity.createDate != null and entity.createDate!='' ">
        		and create_date=#{entity.createDate}
      		</if>	      	
			<if test="entity.defaultVal != null and entity.defaultVal!='' ">
        		and default_val=#{entity.defaultVal}
      		</if>	      	
			<if test="entity.flag != null and entity.flag!='' ">
        		and flag= #{entity.FLAG_NORMAL}
      		</if>
		</if>
	</sql>
	
  	<!-- 根据id查询 -->
  	<select id="get" parameterType="com.mpri.aio.act.model.ActSetting" resultMap="BaseResultMap">
   	    select 
    		<include refid="Base_Column_List" />
    	from act_setting
    	where id = #{id,jdbcType=VARCHAR} and flag = #{FLAG_NORMAL}
  	</select>
 
 	<!-- 分页查询 -->
    <select id="loadByPage" parameterType="com.mpri.aio.act.model.ActSetting" resultMap="BaseResultMap" >
    	select
    		<include refid="Base_Column_List" />
    	from act_setting 
    	<where>
	  		<include refid="query_where"></include>
    	</where>
		order by sort
  	</select>

  	<!-- 依照条件查询所有对象 -->
  	<select id="loadAllListBy"  parameterType="com.mpri.aio.act.model.ActSetting" resultMap="BaseResultMap" >
    	select
    		<include refid="Base_Column_List" />
    	from act_setting 
		<where>
	  		<include refid="query_where"></include>
    	</where>
    	order by sort
  	</select>

	<!-- 删除对象 -->
  	<update id="delete" parameterType="com.mpri.aio.act.model.ActSetting">
    	update act_setting set flag = #{FLAG_HOLD} where id = #{id,jdbcType=VARCHAR}
  	</update>
  	
  	<!-- 插入数据 -->
  	<insert id="insert" parameterType="com.mpri.aio.act.model.ActSetting">
		insert into act_setting
		<trim prefix="(" suffix=")" suffixOverrides=",">
	   		<if test="id != null">
	    		id,
	  		</if>   			
	   		<if test="formType != null">
	    		form_type,
	  		</if>   			
	   		<if test="name != null">
	    		name,
	  		</if>   			
	   		<if test="activityId != null">
	    		activity_id,
	  		</if>   			
	   		<if test="remark != null">
	    		remark,
	  		</if>   			
	   		<if test="code != null">
	    		code,
	  		</if>   			
	   		<if test="sort != null">
	    		sort,
	  		</if>   			
	   		<if test="createDate != null">
	    		create_date,
	  		</if>   			
	   		<if test="defaultVal != null">
	    		default_val,
	  		</if>   			
	   		<if test="flag != null">
	    		flag,
	  		</if>   			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
	   		<if test="id != null">
	   			#{id,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="formType != null">
	   			#{formType,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="name != null">
	   			#{name,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="activityId != null">
	   			#{activityId,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="remark != null">
	   			#{remark,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="code != null">
	   			#{code,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="sort != null">
	   			#{sort,jdbcType=INTEGER},
	  		</if>   			
	   		<if test="createDate != null">
	   			#{createDate,jdbcType=TIMESTAMP},
	  		</if>   			
	   		<if test="defaultVal != null">
	   			#{defaultVal,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="flag != null">
	   			#{flag,jdbcType=VARCHAR},
	  		</if>   			
		</trim>
  	</insert>

  	<!-- 更新数据 -->
  	<update id="update" parameterType="com.mpri.aio.act.model.ActSetting">
    	update act_setting
    	<set>
			<if test="formType != null">
	   			form_type = #{formType,jdbcType=VARCHAR},
	  		</if>  
			<if test="name != null">
	   			name = #{name,jdbcType=VARCHAR},
	  		</if>  
			<if test="activityId != null">
	   			activity_id = #{activityId,jdbcType=VARCHAR},
	  		</if>  
			<if test="remark != null">
	   			remark = #{remark,jdbcType=VARCHAR},
	  		</if>  
			<if test="code != null">
	   			code = #{code,jdbcType=VARCHAR},
	  		</if>  
			<if test="sort != null">
	   			sort = #{sort,jdbcType=INTEGER},
	  		</if>  
			<if test="createDate != null">
	   			create_date = #{createDate,jdbcType=TIMESTAMP},
	  		</if>  
			<if test="defaultVal != null">
	   			default_val = #{defaultVal,jdbcType=VARCHAR},
	  		</if>  
			<if test="flag != null">
	   			flag = #{flag,jdbcType=VARCHAR},
	  		</if>  
    	</set>
    	where id = #{id,jdbcType=VARCHAR}
	</update>
	<select id="getNumByActId" resultType="java.lang.Integer">
		select count(1) from act_setting where activity_id = #{actId,jdbcType=VARCHAR} and flag = 'NORMAL'
	</select>
</mapper>