<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpri.aio.donation.mapper.DonProjectTogetherMapper">

  	<!-- 基础返回值定义 -->
	<resultMap id="BaseResultMap" type="com.mpri.aio.donation.model.DonProjectTogether">
			<id column="id" jdbcType="VARCHAR" property="id" />
			<result column="target_money" jdbcType="DECIMAL" property="targetMoney" />
			<result column="got_money" jdbcType="DECIMAL" property="gotMoney" />
			<result column="status" jdbcType="VARCHAR" property="status" />
			<result column="remark" jdbcType="VARCHAR" property="remark" />
			<result column="project_id" jdbcType="VARCHAR" property="projectId" />
			<result column="flag" jdbcType="VARCHAR" property="flag" />
			<result column="user_id" jdbcType="VARCHAR" property="userId" />
			<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
			<result column="name" jdbcType="VARCHAR" property="name" />
			<result column="summary" jdbcType="VARCHAR" property="summary" />
			<result column="person_num" jdbcType="VARCHAR" property="personNum" />
			<association property="donProject" column="project_id" select="getDonProject"/>
			<association property="smSchoolmate" column="user_id" select="getSchoolMate"/>
	</resultMap>


	<select id="getDonProject" parameterType="com.mpri.aio.donation.model.DonProject" resultMap="DonProjectMap">
           select  id,name  from  don_project where id =#{donProjectId}
    </select>
	<select id="getSchoolMate" parameterType="com.mpri.aio.schoolmate.model.SmSchoolmate" resultMap="schoolmateMap">
           select  id,name  from  sm_schoolmate where user_id =#{userId}
    </select>
	<resultMap id="DonProjectMap" type="com.mpri.aio.donation.model.DonProject">
		<result column="id" jdbcType="VARCHAR" property="id"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
	</resultMap>
	<resultMap id="schoolmateMap" type="com.mpri.aio.schoolmate.model.SmSchoolmate">
		<result column="id" jdbcType="VARCHAR" property="id"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
	</resultMap>
	
    <!-- 基础字段定义 -->
	<sql id="Base_Column_List">
    	id, target_money, got_money, status, remark, project_id, flag, user_id, create_date, name, summary
	</sql>

	<!-- 查询条件定义 -->
	<sql id="query_where">
		<if test="entity!=null">
			<if test="entity.id != null and entity.id!='' ">
        		and id=#{entity.id}
      		</if>	      	
			<if test="entity.targetMoney != null and entity.targetMoney!='' ">
        		and target_money=#{entity.targetMoney}
      		</if>	      	
			<if test="entity.gotMoney != null and entity.gotMoney!='' ">
        		and got_money=#{entity.gotMoney}
      		</if>	      	
			<if test="entity.status != null and entity.status!='' ">
        		and status=#{entity.status}
      		</if>	      	
			<if test="entity.remark != null and entity.remark!='' ">
        		and remark=#{entity.remark}
      		</if>	      	
			<if test="entity.projectId != null and entity.projectId!='' ">
        		and project_id=#{entity.projectId}
      		</if>	      	
			<if test="entity.flag != null and entity.flag!='' ">
        		and flag= #{entity.FLAG_NORMAL}
      		</if>
			<if test="entity.userId != null and entity.userId!='' ">
        		and user_id=#{entity.userId}
      		</if>	      	
			<if test="entity.createDate != null and entity.createDate!='' ">
        		and create_date=#{entity.createDate}
      		</if>	      	
	       	<if test="entity.name!=null and entity.name!='' ">
				and (name like replace (#{entity.name},'*','%%')
				or name like concat('%', #{entity.name},'%'))
	       	</if>		
			<if test="entity.summary != null and entity.summary!='' ">
        		and summary=#{entity.summary}
      		</if>	      	
		</if>
	</sql>
	
  	<!-- 根据id查询 -->
  	<select id="get" parameterType="com.mpri.aio.donation.model.DonProjectTogether" resultMap="BaseResultMap">
   	    select 
    		<include refid="Base_Column_List" />
    	from don_project_together
    	where id = #{id,jdbcType=VARCHAR} and flag = #{FLAG_NORMAL}
  	</select>
 
 	<!-- 分页查询 -->
    <select id="loadByPage" parameterType="com.mpri.aio.donation.model.DonProjectTogether" resultMap="BaseResultMap" >
    	select
    		<include refid="Base_Column_List" />
    	from don_project_together 
    	<where>
	  		<include refid="query_where"></include>
    	</where>
    	order by create_date desc
  	</select>

	<!-- 删除对象 -->
	<update id="updateStatus" parameterType="com.mpri.aio.donation.model.DonProjectTogether">
    	update don_project_together set status = #{status} where id = #{id,jdbcType=VARCHAR}
  	</update>

  	<!-- 依照条件查询所有对象 -->
  	<select id="loadAllListBy"  parameterType="com.mpri.aio.donation.model.DonProjectTogether" resultMap="BaseResultMap" >
    	select
    		<include refid="Base_Column_List" />
    	from don_project_together 
		<where>
	  		<include refid="query_where"></include>
    	</where>
  	</select>

	<!-- 删除对象 -->
  	<update id="delete" parameterType="com.mpri.aio.donation.model.DonProjectTogether">
    	update don_project_together set flag = #{FLAG_HOLD} where id = #{id,jdbcType=VARCHAR}
  	</update>
  	
  	<!-- 插入数据 -->
  	<insert id="insert" parameterType="com.mpri.aio.donation.model.DonProjectTogether">
		insert into don_project_together
		<trim prefix="(" suffix=")" suffixOverrides=",">
	   		<if test="id != null">
	    		id,
	  		</if>   			
	   		<if test="targetMoney != null">
	    		target_money,
	  		</if>   			
	   		<if test="gotMoney != null">
	    		got_money,
	  		</if>   			
	   		<if test="status != null">
	    		status,
	  		</if>   			
	   		<if test="remark != null">
	    		remark,
	  		</if>   			
	   		<if test="projectId != null">
	    		project_id,
	  		</if>   			
	   		<if test="flag != null">
	    		flag,
	  		</if>   			
	   		<if test="userId != null">
	    		user_id,
	  		</if>   			
	   		<if test="createDate != null">
	    		create_date,
	  		</if>   			
	   		<if test="name != null">
	    		name,
	  		</if>   			
	   		<if test="summary != null">
	    		summary,
	  		</if>
			<if test="personNum != null">
				person_num,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
	   		<if test="id != null">
	   			#{id,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="targetMoney != null">
	   			#{targetMoney,jdbcType=DECIMAL},
	  		</if>   			
	   		<if test="gotMoney != null">
	   			#{gotMoney,jdbcType=DECIMAL},
	  		</if>   			
	   		<if test="status != null">
	   			#{status,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="remark != null">
	   			#{remark,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="projectId != null">
	   			#{projectId,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="flag != null">
	   			#{flag,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="userId != null">
	   			#{userId,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="createDate != null">
	   			#{createDate,jdbcType=TIMESTAMP},
	  		</if>   			
	   		<if test="name != null">
	   			#{name,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="summary != null">
	   			#{summary,jdbcType=VARCHAR},
	  		</if>
			<if test="personNum != null">
				#{person_num,jdbcType=VARCHAR},
			</if>
		</trim>
  	</insert>

  	<!-- 更新数据 -->
  	<update id="update" parameterType="com.mpri.aio.donation.model.DonProjectTogether">
    	update don_project_together
    	<set>
			<if test="targetMoney != null">
	   			target_money = #{targetMoney,jdbcType=DECIMAL},
	  		</if>  
			<if test="gotMoney != null">
	   			got_money = #{gotMoney,jdbcType=DECIMAL},
	  		</if>  
			<if test="status != null">
	   			status = #{status,jdbcType=VARCHAR},
	  		</if>  
			<if test="remark != null">
	   			remark = #{remark,jdbcType=VARCHAR},
	  		</if>  
			<if test="projectId != null">
	   			project_id = #{projectId,jdbcType=VARCHAR},
	  		</if>  
			<if test="flag != null">
	   			flag = #{flag,jdbcType=VARCHAR},
	  		</if>  
			<if test="userId != null">
	   			user_id = #{userId,jdbcType=VARCHAR},
	  		</if>  
			<if test="createDate != null">
	   			create_date = #{createDate,jdbcType=TIMESTAMP},
	  		</if>  
			<if test="name != null">
	   			name = #{name,jdbcType=VARCHAR},
	  		</if>  
			<if test="summary != null">
	   			summary = #{summary,jdbcType=VARCHAR},
	  		</if>
			<if test="personNum != null">
				person_num = #{personNum,jdbcType=VARCHAR},
			</if>
    	</set>
    	where id = #{id,jdbcType=VARCHAR}
	</update>

</mapper>