<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpri.aio.donation.mapper.DonTemplateMapper">

  	<!-- 基础返回值定义 -->
	<resultMap id="BaseResultMap" type="com.mpri.aio.donation.model.DonTemplate">
			<id column="id" jdbcType="VARCHAR" property="id" />
			<result column="name" jdbcType="VARCHAR" property="name" />
			<result column="remark" jdbcType="VARCHAR" property="remark" />
			<result column="content" jdbcType="VARCHAR" property="content" />	
			<result column="start_amount" jdbcType="INTEGER" property="startAmount" />
			<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
			<result column="url" jdbcType="VARCHAR" property="url" />
			<result column="description" jdbcType="VARCHAR" property="description" />
			<result column="end_amount" jdbcType="INTEGER" property="endAmount" />
			<result column="flag" jdbcType="VARCHAR" property="flag" />
	</resultMap>
	
    <!-- 基础字段定义 -->
	<sql id="Base_Column_List">
    	id, name, remark, content, start_amount, create_date, url, description, end_amount, flag
	</sql>

	<!-- 查询条件定义 -->
	<sql id="query_where">
		<if test="entity!=null">
			<if test="entity.id != null and entity.id!='' ">
        		and id=#{entity.id}
      		</if>	      	
	       	<if test="entity.name!=null and entity.name!='' ">
				and (name like   replace (#{entity.name},'*','%%')
				or name like concat('%', #{entity.name},'%'))
	       	</if>		
			<if test="entity.remark != null and entity.remark!='' ">
        		and remark=#{entity.remark}
      		</if>	      	
			<if test="entity.content != null and entity.content!='' ">
        		and content=#{entity.content}
      		</if>	      	
			<if test="entity.startAmount != null and entity.startAmount!='' ">
        		and start_amount=#{entity.startAmount}
      		</if>	      	
			<if test="entity.createDate != null and entity.createDate!='' ">
        		and create_date=#{entity.createDate}
      		</if>	      	
			<if test="entity.url != null and entity.url!='' ">
        		and url=#{entity.url}
      		</if>	      	
			<if test="entity.description != null and entity.description!='' ">
        		and description=#{entity.description}
      		</if>	      	
			<if test="entity.endAmount != null and entity.endAmount!='' ">
        		and end_amount=#{entity.endAmount}
      		</if>	      	
			<if test="entity.flag != null and entity.flag!='' ">
        		and flag= #{entity.FLAG_NORMAL}
      		</if>
		</if>
	</sql>
	
  	<!-- 根据id查询 -->
  	<select id="get" parameterType="com.mpri.aio.donation.model.DonTemplate" resultMap="BaseResultMap">
   	    select 
    		<include refid="Base_Column_List" />
    	from don_template
    	where id = #{id,jdbcType=VARCHAR} and flag = #{FLAG_NORMAL}
  	</select>
 
 	<!-- 分页查询 -->
    <select id="loadByPage" parameterType="com.mpri.aio.donation.model.DonTemplate" resultMap="BaseResultMap" >
    	select
    		<include refid="Base_Column_List" />
    	from don_template 
    	<where>
	  		<include refid="query_where"></include>
    	</where>
		order by create_date DESC
  	</select>

  	<!-- 依照条件查询所有对象 -->
  	<select id="loadAllListBy"  parameterType="com.mpri.aio.donation.model.DonTemplate" resultMap="BaseResultMap" >
    	select
    		<include refid="Base_Column_List" />
    	from don_template 
		<where>
	  		<include refid="query_where"></include>
    	</where>
		order by create_date DESC
  	</select>

	<!-- 删除对象 -->
  	<update id="delete" parameterType="com.mpri.aio.donation.model.DonTemplate">
    	update don_template set flag = #{FLAG_HOLD} where id = #{id,jdbcType=VARCHAR}
  	</update>
  	
  	<!-- 插入数据 -->
  	<insert id="insert" parameterType="com.mpri.aio.donation.model.DonTemplate">
		insert into don_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
	   		<if test="id != null">
	    		id,
	  		</if>   			
	   		<if test="name != null">
	    		name,
	  		</if>   			
	   		<if test="remark != null">
	    		remark,
	  		</if>   			
	   		<if test="content != null">
	    		content,
	  		</if>   			
	   		<if test="startAmount != null">
	    		start_amount,
	  		</if>   			
	   		<if test="createDate != null">
	    		create_date,
	  		</if>   			
	   		<if test="url != null">
	    		url,
	  		</if>   			
	   		<if test="description != null">
	    		description,
	  		</if>   			
	   		<if test="endAmount != null">
	    		end_amount,
	  		</if>   			
	   		<if test="flag != null">
	    		flag,
	  		</if>   			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
	   		<if test="id != null">
	   			#{id,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="name != null">
	   			#{name,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="remark != null">
	   			#{remark,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="content != null">
	   			#{content,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="startAmount != null">
	   			#{startAmount,jdbcType=INTEGER},
	  		</if>   			
	   		<if test="createDate != null">
	   			#{createDate,jdbcType=TIMESTAMP},
	  		</if>   			
	   		<if test="url != null">
	   			#{url,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="description != null">
	   			#{description,jdbcType=VARCHAR},
	  		</if>   			
	   		<if test="endAmount != null">
	   			#{endAmount,jdbcType=INTEGER},
	  		</if>   			
	   		<if test="flag != null">
	   			#{flag,jdbcType=VARCHAR},
	  		</if>   			
		</trim>
  	</insert>

  	<!-- 更新数据 -->
  	<update id="update" parameterType="com.mpri.aio.donation.model.DonTemplate">
    	update don_template
    	<set>
			<if test="name != null">
	   			name = #{name,jdbcType=VARCHAR},
	  		</if>  
			<if test="remark != null">
	   			remark = #{remark,jdbcType=VARCHAR},
	  		</if>  
			<if test="content != null">
	   			content = #{content,jdbcType=VARCHAR},
	  		</if>  
			<if test="startAmount != null">
	   			start_amount = #{startAmount,jdbcType=INTEGER},
	  		</if>  
			<if test="createDate != null">
	   			create_date = #{createDate,jdbcType=TIMESTAMP},
	  		</if>  
			<if test="url != null">
	   			url = #{url,jdbcType=VARCHAR},
	  		</if>  
			<if test="description != null">
	   			description = #{description,jdbcType=VARCHAR},
	  		</if>  
			<if test="endAmount != null">
	   			end_amount = #{endAmount,jdbcType=INTEGER},
	  		</if>  
			<if test="flag != null">
	   			flag = #{flag,jdbcType=VARCHAR},
	  		</if>  
    	</set>
    	where id = #{id,jdbcType=VARCHAR}
	</update>

</mapper>